<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

  <test name="Validating UserLogin">
    <classes>
      <class name="Self.POC1.HomePage"/>
    </classes>
   </test>
   
   <test name="Validating NavigationBar">
    <classes>
      <class name="Self.POC1.ValidateNavBar"/>
    </classes>
   </test> 
     
   <test name="Validating Title">
    <classes>   
      <class name="Self.POC1.ValidateTitle"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
